/**
 * @name Clear Dark +
 * @version 1.1.0
 * @description Translucent anime character / Clear Dark Glass Discord theme
 * @author Lighty
 * @authorId 975102868564639835
 */

@import url(https://fo-lighty.github.io/ClearDark-Plus/css/source.css);

:root {
	--app-bg: url(https://github.com/FO-Lighty/ClearDark-Plus/blob/main/preview/image_bg/hatsune-miku.jpg?raw=true);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 8px; /*	-	*/
	
	--accent-hue: 195;
	--accent-saturation: 77.5%;
	--accent-lightness: 47.5%;
	--accent-opacity: 1;
	--accent-text-color: #000; /*	-	*/

	--sidebar-color: rgba(0, 0, 0, 0.8);
	--main-content-color: rgba(0, 0, 0, 0.515); /*	-	*/

	--message-color: rgba(0,0,0,0.51);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 210;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/
	
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px; /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}
.visual-refresh.theme-dark {
	/* TEXT COLOR SETTINGS */
	--text-primary: hsl(0,0%,100%);
	--text-secondary: hsl(0,0%,77%);

	/* CHANNEL COLOR SETTINGS */
	--channels-default: hsl(0,0%,62%);
	--channel-icon: hsl(0,0%,62%);

	/* ICON COLOR SETTINGS */
	--icon-primary: hsl(0,0%,96%);
	--icon-secondary: hsl(0,0%,84%);
	--icon-tertiary: hsl(0,0%,71%);

	/* INTERACTIVE COLOR SETTINGS */
	--interactive-normal: hsl(0,0%,79%);
	--interactive-hover: hsl(0,0%,91%);
	--interactive-active: hsl(0,0%,100%);
	--interactive-muted: hsl(0,0%,43%);

	/* BACKGROUND MODIFIER SETTINGS */
	--background-modifier-hover: hsl(0,0%,100%,0.075);
	--background-modifier-selected: hsl(0,0%,100%,0.125);
}
