
@use 'backend' as *;

// BACKGROUND FLASH
#{c(chat backgroundFlash)} {
	&:not([style$="0);"]) {
		background-color: hsla(cv('color.main'), 0.3) !important;
		transition: 200ms ease-out background-color;
	}

	&[style="background-color: rgba(148, 156, 247, 0);"] {
		background-color: hsla(cv('color.main'), 0.0) !important;
		transition: 400ms background-color;
	}
}

// HOVER MODE
#{c(main options fullMotion)} {
	#{c(chat message)} {
		&:hover {
			background-color: var(--message-color-hover) !important;
		}
	}
}

// MESSAGES WRAPPER
#{c(chat message)} {
	margin-left: 68px;
	margin-right: 16px;
	background-color: var(--message-color) !important;
	border-radius: var(--message-radius);
	transition: 300ms ease background-color;
	backdrop-filter: blur(1px);

	&:not(#{c(chat messageGroupStart)}),
    &#{c(chat compact)} {
    	margin-top: 2px;
    }

	&#{c(chat cozy)},
	&#{c(chat compact)} {
		padding: var(--message-padding-top) var(--message-padding-side) !important;
		padding-right: 8px !important;
		border: 2px solid transparent;
	}

	&#{c(chat cozy)} {
		#{c(chat timestamp)} {
			&#{c(chat timestampAlt)} {
				left: -62px;
			}
		}
	}

	&#{c(chat compact)} {
		padding: 4px;
		padding-left: 6px;

		#{c(chat timestamp)} {
			margin-right: 0.75rem;
		}
	}

	&#{c(chat hasReply)} {
        #{c(chat chatAvatar)} {
            top: 28px;
        }

        #{c(chat avatarDecoration)} {
            top: 26px;
        }
    }

	#{c(chat timestamp)} {
		color: var(--text-normal);

		&#{c(chat timestampAlt)}  {
			color: var(--text-normal);
		}
	}

	#{c(forums textArea)} {
        margin: 2px 0;
    }

	// MENTIONED BG
	&#{c(chat mentioned)} {
        border-color: hsla(var(--mention-hsl),var(--mention-opacity));
    	box-shadow: 0px 0px 13px 4px hsla(var(--mention-hsl),var(--mention-opacity));

        &:before {
            display: none;
        }

		#{c(chat replied message)} {
			&:before {
				border-color: hsl(var(--mention-hsl));
			}
		}

		#{c(chat replied spine)} {
	        --message-color: hsl(var(--mention-hsl));
	        --message-color-hover: hsl(var(--mention-hsl));
	    }
    }
	#{c(chat mentionWrapper)} {
		background: cv('color.mention');
		color: cv('text.normal');
	}

	// REPLY HIGHLIGHT
    &#{c(chat replying)} {
        border-color: hsla(var(--reply-hsl),var(--reply-opacity));
    	box-shadow: 0px 0px 13px 4px hsla(var(--reply-hsl),var(--reply-opacity));

        &:before {
            display: none;
        }
    }
}

// SCROLLER & THREADS
#{c(chat scrollerSpacer)} {
	height: var(--space-16);
}

#{c(chat cozy)} {
	&#{c(chat hasThread)} {
		&::after {
			display: none;
		}
	}
}

// HEADER
#{c(chat chatAvatar)} {
	width: 40px;
	height: 40px;
	top: 0;
	left: -50px;
	margin-top: 0;
}

#{c(chat avatarDecoration)} {
	top: -2px;
	left: -54px;
}

.a11y-font-scaled-down {
	#{c(chat chatAvatar)} {
		&:not(#{c(chat compact)}) {
			top: 0;
			left: -50px;
		}
	}
}
#{c(chat subtitleContainer)} {
	box-shadow: cv('shadow.bottom');
}

// DIVIDERS
#{c(chat messageListItem)},
#{c(chat divider divider)} {
	+ #{c(chat messageDivider)} {
		margin-top: 2px;
	}
}

#{c(chat divider divider)}#{c(chat divider hasContent)} {
	border-top: none;

	&:before,
	&:after {
		position: absolute;
		content: " ";
		width: calc(50% - 60px);
		height: 1px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		background-color: var(--background-modifier-accent);
	}

	&:before { left: 0; }
	&:after { right: 0; }
}

#{c(chat divider content)} {
	width: 120px;
	padding: 2px 0;
	background-color: none;
	text-align: center;
}

#{c(chat divider isUnread)} {
	border-color: hsla(cv('color.main'),var(--accent-opacity));

	#{c(chat divider unreadPill)} {
		background-color: hsla(cv('color.main'),var(--accent-opacity));
		color: var(--accent-text-color);
		text-shadow: none;
	}

	#{c(chat divider unreadPillCap)} {
        filter: none;
    }

	#{c(chat divider unreadPillCapStroke)} {
		color: hsla(cv('color.main'),var(--accent-opacity));
		fill: hsla(cv('color.main'),var(--accent-opacity));
	}
}

// REPLIES LOGIC
#{c(chat replied message)} {
	&:before {
		border-color: var(--message-color);
		transform: translateX(-6px);
    }
}

#{c(chat replied spine)} {
    margin-inline: calc(var(--spine-width)*-1/2) calc(var(--reply-spacing) * 2.3);
    border-color: var(--message-color);
	transition: 300ms ease border-color;

	&#{c(chat replied contentHovered)} {
        border-color: var(--message-color-hover);
    }
}
