@use 'backend' as *;

// settings
#{c(main visualRefresh)} {
  // addon/theme stores
  #{c(bd addonStore)} {
    background: cv('shading.card');
    border: 1px solid transparent;
    &:hover {
      background: cv('shading.card');
      box-shadow: none;
      border-color: cv('color.main');
    }
  }
  // Inside addon store
  #{c(bd addonStoreCard)} {
    background: cv('shading.card');
    border: 1px solid transparent;
    &:hover {
      background: cv('shading.card');
      box-shadow: none;
      border-color: cv('color.main');
    }
    #{c(bd addonStoreTag)} {
      background: transparent;
      border: 1px solid cv('color.main');
    }
  }
  // actual addons
  #{c(bd addonCard)} {
    background: cv('shading.card');
    border: 2px solid transparent;
    &:hover {
      background: cv('shading.card');
      border-color: cv('color.main');
    }
  }
  #{c(bd addonHeader)} {
    background: cv('shading.card');
  }
  #{c(bd addonList)} {
    &#{c(bd addonHeader)} {
      box-shadow: cv('shadow.bottom');
    }
  }
    // Switches from BetterDiscord settings
  #{c(bd switch)} {
    #{c(bd switchBody)} {
      --switch-color: var(--switch-slider-color);
  
      #{c(bd switchHandle)} {
        fill: var(--switch-knob-color);
      }
    }
    input:active + #{c(bd switchBody)} {
      --switch-color: var(--switch-slider-color);
    } 
    input:checked + #{c(bd switchBody)} {
      --switch-color: var(--main-color);
      --switch-knob-color: var(--accent-text-color);
    } 
    input:checked:active + #{c(bd switchBody)} {
      --switch-color: var(--main-color);
    }
  }
  #{c(bd switchDisabled)} {
    opacity: 0.3;
    filter: none;
  }
}
