@use 'start' as *;
/*! ClearDark+ - BetterDiscord Addon v#{$version} by #{$author} */

// Import Functions, Variables, Mixins and Class list functionality.
@use 'backend' as *;

// Contains the theme proper.
@use 'betterdiscord-theme';
