/**
 * @name Clear Dark + Assassin Creed Special Theme
 * @version 1.3.1 Special
 * @description Clear Dark Glass Special Discord theme / assassins creed shadows theme
 * @author Lighty.Jr
 * @authorId 975102868564639835
 */

@import url(https://fo-lighty.github.io/ClearDark-Plus/css/source.css);

:root {
	/* APP ELEMENTS */
	--app-bg: url(https://fo-lighty.github.io/ClearDark-Plus/assets/images/assassins-creed-shadows.jpg);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 8px;

	/* ACCENT HSL AND TEXT COLOR SETTINGS */
	--accent-hue: 68;
	--accent-saturation: 30%;
	--accent-lightness: 35%;
	--accent-opacity: 1;
	--accent-text-color: hsl(39,22%,79%);

	/* SIDEBARS AND CHAT AREA COLOR SETTINGS */
	--sidebar-color: hsl(0,0%,0%,0.8);
	--main-content-color: hsl(0,0%,0%,0.515);

	/* MESSAGE SETTINGS */
	--message-color: hsl(0,0%,0%,0.51);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px;

	/* REPLY HSL COLOR SETTINGS */
	--reply-hue: 79;
	--reply-saturation: 19%;
	--reply-lightness: 48%;
	--reply-opacity: 1;

	/* TEXTAREA SETTINGS */
	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: hsl(0,100%,100%);
	--textarea-radius: 22px;

	/* CARD SETTINGS */
	--card-color: hsl(0,0%,0%,0.4);
	--card-color-hover: hsl(0,0%,0%,0.5);
	--card-color-select: hsl(0,0%,0%,0.7);

	/* BUTTON SETTINGS */
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: hsl(0,0%,0%);
	--button-radius: 16px;
}

.visual-refresh.theme-dark {
	/* TEXT COLOR SETTINGS */
	--text-primary: hsl(0,0%,100%);
	--text-secondary: hsl(0,0%,77%);

	/* CHANNEL COLOR SETTINGS */
	--channels-default: hsl(0,0%,62%);
	--channel-icon: hsl(0,0%,62%);

	/* ICON COLOR SETTINGS */
	--icon-primary: hsl(0,0%,96%);
	--icon-secondary: hsl(0,0%,84%);
	--icon-tertiary: hsl(0,0%,71%);

	/* INTERACTIVE COLOR SETTINGS */
	--interactive-normal: hsl(0 0% 66.7%);
	--interactive-hover: hsl(0 0% 86.7%);
	--interactive-active: hsl(0 0% 100%);
	--interactive-muted: hsl(0 0% 46.7%);

	/* BACKGROUND MODIFIER SETTINGS */
	--background-modifier-hover: hsl(0,0%,100%,0.075);
	--background-modifier-selected: hsl(0,0%,100%,0.125);
}
