// These get left in a nice, neat location.
$version: '2.3.1';
$themeName: 'ClearDark+';
$author: 'Lighty.Jr';
$desc: 'Version 2 of that Translucent Clear Dark Glass Discord theme';
$desc_bd: 'for BetterDiscord.'; // BetterDiscord will use the default preset.
$desc_generic: 'for BetterDiscord.'; // "Generic" to be used for preset distributables.
$src: 'https://github.com/FO-Lighty/ClearDark-Plus';
$website: 'https://fo-lighty.github.io/ClearDark-Plus'; // also css @import host

$main_import: 'main.css'; // Base import filename
$bd_import: 'betterdiscord.css'; // BetterDiscord's import filename
