name: Builder

on:
  push:
    branches:
      - main
    paths:
      # The workflow only triggers if SCSS files in the src folder are modified
      - 'scr/**/*.scss' 

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Download code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Prepare the environment to install SASS
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          
      # 3. Install the SASS compiler
      - name: Install Sass
        run: npm install -g sass

      # 4. Execute compilation: src/main.scss -> main.css
      - name: Builder CSS
        # The destination is at the root, which is ideal for Discord
        run: |
          sass scr/main.scss css/source.css --load-path=scr --no-source-map
          sass scr/PxCD.scss css/PxCD-source.css --load-path=scr --no-source-map
          sass scr/betterdiscord.scss css/additional.css --load-path=scr --no-source-map

      # 5. Update the main.css file on GitHub
      - name: Deploy
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'CSS Version updated'
          files: |
            main.css
            additional.css
          commit_user_name: "Lighty's Compiler Bot"
